.App {
  display: flex;
  justify-content: space-around;
  
}
body {
  background: url(food-1.jpg);
  background-color: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  background-color: #dcedf7;
  border-radius: 20px;
  padding: 12px;
  font-size: 25px;
}
p {
  color: black;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font: bold;
}
.text {
  text-shadow:
1px 1px 2px black,
0 0 1em blue,
0 0 0.2em blue;
color: white;
font:
1.5em Georgia,
serif;
}
.field {
  color: black ;
  font-family: 'Montserrat', sans-serif;
  font-size: 14;
}



.button-add {
  font-family: 'Montserrat', sans-serif;
  background-color: #77cf40;
  padding: 14px;
  border-radius: 15px;
  border: none;
  font-size: 17px;
}


.button-delete {
  font-family: 'Montserrat', sans-serif;
  background-color: red;
  border-radius: 10px;
  border: none;
  padding: 5px;
  font-size: 12px;
  color: black;
  
  }
  .whole-plan {
    width: 70%;
    height: 100vh;
  }
  .myInput {
    width: 70%;
    height: 20px;
    padding: 10px;
    border-radius: 20px;
    display: block;
    margin-top: 30px;
  }
  
  textarea {
    display: block;
    border: 2px solid #77cf40;
    margin-top: 30px;
    width: 70%;
    height: 200px;
    border-radius: 10px;
    }
  .selected {
    background-color: #fad106;
    border-radius: 10px;
  }
  .default {
  background-color: #dcedf7;
  border-radius: 10px;
  }





